.header__link {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

@media screen and (max-width: 879px) {
    .header__link {
        margin-right: 30px;
        font-size: 14px;
        line-height: 17px;
    }
}
  