.form__btn_submit {
    border: none;
    margin-top: calc(216px - 30px);
    width: 358px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 2px;
    /* Text */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

@media screen and (max-width: 879px) {
    .form__btn_submit {
        margin-top: calc(173px - 25px);
        width: 260px;
        height: 46px;
        font-size: 16px;
        line-height: 19px;
    }
}