.header__button {
    margin-right: 30px;
    cursor: pointer;
    /* transition */
    transition: opacity 0.35s ease-in-out;
    -moz-transition: opacity 0.35s ease-in-out;
    -webkit-transition: opacity 0.35s ease-in-out;
    -o-transition: opacity 0.35s ease-in-out;
    -ms-transition: opacity 0.35s ease-in-out;
}

.header__button:hover {
    opacity: 0.6;
}